@{
	ViewBag.Title = "Home Page";
	ViewBag.HeadScripts = SimpleMvcUserManagement.MyHtml.TableJavaScript();
	ViewBag.HeadStyle = new HtmlString(MyHtml.TableCss().ToString() + MyHtml.StyleCss().ToString());
}
<h2>@ViewBag.Message</h2>
<p>
	Here you can see the widgets for managing user accounts and roles.
	@SimpleMvcUserManagement.MyHtml.UserTableArea()
	<div style="float: left; margin-right: 1em;">
		@SimpleMvcUserManagement.MyHtml.AddUserForm()
	</div>
	<div style="float: left">
		@SimpleMvcUserManagement.MyHtml.ManageRolesForm()
	</div>
	<br style="clear: both" />
</p>
